In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel("Data Story.xlsx")

In [10]:
df['Time'] = pd.to_datetime(df['Time'])

In [11]:
df

,Time,"ETH / Price, USD","Log ETH Price, USD",Daily Log Return,Daily Variance
0,2015-08-08,1.199990,0.182313,0.000000,0.000000
1,2015-08-09,1.199990,0.182313,0.000000,0.000000
2,2015-08-10,1.199990,0.182313,0.000000,0.000000
3,2015-08-11,0.990000,-0.010050,-0.192364,0.037004
4,2015-08-12,1.288000,0.253091,0.263141,0.069243
...,...,...,...,...,...
2992,2023-10-17,1565.294394,7.355829,-0.022551,0.000509
2993,2023-10-18,1563.409309,7.354624,-0.001205,0.000001
2994,2023-10-19,1566.428419,7.356553,0.001929,0.000004
2995,2023-10-20,1605.573863,7.381237,0.024683,0.000609
2996,2023-10-21,1628.753199,7.395570,0.014334,0.000205

In [12]:
def calculate_annualised_volatility(year, df):
    year_data = df[df['Time'].dt.year == year]

    # Calculating annualised volatility
    trading_days = len(year_data)
    daily_volatility = year_data['Daily Log Return'].std()
    annualised_volatility = daily_volatility * np.sqrt(trading_days)

    return annualised_volatility

In [14]:
years = range(2015,2024)
annual_volatility = {}

for year in years:
    if year == 2015:
        annual_volatility[year] = calculate_annualised_volatility(year, df[(df['Time'] >= '2015-08-08') & (df['Time'] <= '2015-12-31')])
    elif year == 2023:
        annual_volatility[year] = calculate_annualised_volatility(year, df[(df['Time'] >= '2023-01-01') & (df['Time'] <= '2023-10-21')])
    else:
        annual_volatility[year] = calculate_annualised_volatility(year, df[df['Time'].dt.year == year])

for year, volatility in annual_volatility.items():
    print(f"Year {year}: Annualised Volatility = {volatility * 100:.4f}%")

Year 2015: Annualised Volatility = 121.6596%
Year 2016: Annualised Volatility = 131.7500%
Year 2017: Annualised Volatility = 135.7864%
Year 2018: Annualised Volatility = 109.5273%
Year 2019: Annualised Volatility = 81.9489%
Year 2020: Annualised Volatility = 102.8675%
Year 2021: Annualised Volatility = 104.6748%
Year 2022: Annualised Volatility = 87.6724%
Year 2023: Annualised Volatility = 40.3660%